:root {
  --orange: #fe7e6d;
  --peach: #feece98f;
  --grey: #ccd1e4;
  --white: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--orange);
  background-color: var(--peach);
  font-family: "Roboto", "sans-serif";
  min-height: 100vh;
  text-align: center;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  text-decoration: underline;
}

h2 {
  font-size: 2.5rem;
  font-weight: 900;
}

/* Title */
#title {
  margin: 2.5%;
}

/* Assigments */
#today {
  margin: 2.5%;
}

/* Todo */

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
}

.todo {
  margin: 0.5rem;
  font-size: 2rem;
  color: var(--orange);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
  font-weight: 500;
}

.todo-input {
  display: none;
}

.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  display: none;
}
.todo-item {
  padding: 0rem 0.5rem;
}

.todo-button {
  display: none;
}

/* Footer */

#footer {
  background-color: var(--grey);
  color: white;
  padding: 2.95% 15%;
  width: 100%;
  margin-top: 14.5%;
  bottom: 0;
}

.fab,
.fas {
  margin: 15px;
}

@media (max-width: 768px) {
  #footer {
    padding: 7.5% 15%;
  }
}

/* Navbar */

.nav-link {
  font-weight: 500;
}

#navbar {
  background-color: var(--grey);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

/* Brand Name */

.brand {
  font-size: 1.5rem;
  font-weight: 600;
}

.navbar-container {
  padding: 2% 8%;
  font-size: 3rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

.logo-img {
  width: 15%;
  margin-right: 3%;
  border-radius: 1rem;
}

.adding-assigments {
  display: none;
}
