:root {
  --orange: #fe7e6d;
  --peach: #feece98f;
  --grey: #ccd1e4;
  --white: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--peach);
  font-family: "Roboto", "sans-serif";
  min-height: 100vh;
  text-align: center;
}

h1 {
	margin-top: 2%;
  color: var(--orange);
  font-size: 3rem;
  font-weight: 900;
  text-decoration: underline;
}

h2 {

  color: var(--orange);
  font-size: 2.5rem;
  font-weight: 900;
}

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

header h1{ 
	font-size: 2.5rem;
	font-weight: 300;
	color: var(--grey);
	margin-bottom: 1rem;
}

#new-task-form {
	display: flex;;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#new-task-input {
	flex: 1 1 0%;
	background-color: var(--grey);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: white;
	font-size: 1.25rem;
}

#new-task-input::placeholder {
	color: var(--white);
}

#new-task-submit {
	font-size: 1.25rem;
	font-weight: 600;
	color: #fe7e6d;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.task-list {
	padding: 1rem;
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: var(--grey);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.task .content {
	flex: 1 1 0%;
}

.task .content .text {
	color: var(--white);
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}



.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 600;
	color: #fe7e6d;
}


/* Footer */

#footer {
  margin-top: 12.5%;
  background-color: #ccd1e4;
  color: white;
  padding: 2.95% 15%;
  width: 100%;
  bottom: 0;
}

.fab,
.fas {
  margin: 15px;
}

/* Navbar */

.nav-link {
  font-weight: 500;
}

#navbar {
  background-color: #ccd1e4;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

/* Brand Name */

.brand {
  font-size: 1.5rem;
  font-weight: 600;
}

.navbar-container {
  padding: 2% 8%;
  font-size: 3rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

.logo-img {
  width: 15%;
  margin-right: 3%;
  border-radius: 1rem;
}
